<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4295828381-2ldhifclrr3p8tun982su3qa2lqkdf9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4295828381-2ldhifclrr3p8tun982su3qa2lqkdf9m</string>
	<key>API_KEY</key>
	<string>AIzaSyDc2dTqoNUOefDAc7-VjN2Kh3GEVbFFlME</string>
	<key>GCM_SENDER_ID</key>
	<string>4295828381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.stayaliveandfree.aliveandfree.aliveandfree</string>
	<key>PROJECT_ID</key>
	<string>alivefreechat</string>
	<key>STORAGE_BUCKET</key>
	<string>alivefreechat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4295828381:ios:e2f83c180d36a82fad8574</string>
	<key>DATABASE_URL</key>
	<string>https://alivefreechat.firebaseio.com</string>
</dict>
</plist>